<div class=" text-light fw-bold text-center bg-danger bg-gradient p-2 m-2 col-2 bg-opacity-75 rounded-pill text-white ">
  <p>
    {{body}}
  </p>
  <p>
    &mdash; {{user.username}}, {{format_date createdAt}}
  </p>
</div>