<div class="text-center">
  <div>
    <h2 class="fw-bold text-center  p-2 m-2  bg-opacity-75  text-white">Login</h2>
  </div>
  <form id="login-form">
    <div class=" fw-bold text-white p-2 m-2">
      <label for="username-input-login" >Username</label>
      <input type="text" id="username-input-login" class="rounded"/>
    </div>
    <div class=" fw-bold text-white p-2 m-2">
      <label for="password-input-login">Password</label>
      <input type="password" id="password-input-login"class="rounded" />
    </div>
    <button type="submit" id="login-btn"  class = 'btn btn-info text-white fw-bold'>Login!</button>
    <a href="/signup"  class = 'btn btn-info text-white fw-bold'>Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>
