<div style="background-color: #e497a4" class="text-light fw-bold text-center bg-danger bg-gradient p-2 mx-5 my-3 bg-opacity-75 rounded-pill text-white">
  <div>
    <h2 class="fw-bold text-center  p-2 m-2  bg-opacity-75  text-white">Create New Post</h2>
  </div>
  <form id="new-post-form" >
    <div class=" fw-bold text-white p-2 m-2">
      <label for="post-title">Title</label>
      <input type="text" name="post-title" class="rounded"/>
    </div>
    <div class=" fw-bold text-white p-2 m-2">
      <label for="post-body">Content</label>
      <textarea name="post-body" class="rounded"></textarea>
    </div>
    <button type="submit" class="btn btn-info text-white fw-bold m-3">Create</button>
  </form>
</div>

<script src="/js/newPost.js"></script>
