<div class="text-center">
  <div>
    <h2 class="fw-bold text-center  p-2 m-2  bg-opacity-75  text-white">Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form">
      <div class=" fw-bold text-white p-2 m-2">
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" class="rounded"/>
      </div>
      <div class=" fw-bold text-white p-2 m-2"> 
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" class="rounded"/>
      </div>
      <button type="submit" id="signup-btn" class = 'btn btn-info text-white fw-bold'>Sign up!</button>
      <a href="/login" class = 'btn btn-info text-white fw-bold'>Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
